---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

interface Props {
    href: string
    image: ImageMetadata
    tags: string[]
    date: string
    title: string
    body: string
    user: {
        name: string
        avatar: ImageMetadata
    }
}

const { href, image, tags, date, title, body, user } = Astro.props
---

<a
    {href}
    class="card group grid gap-24 rounded-md border border-solid border-neutral-900 bg-neutral-100 p-24"
    target="blank"
>
    <figure class="m-0 h-200 overflow-hidden rounded-sm">
        <Image
            src={image}
            alt={title}
            width={400}
            height={200}
            class="size-full object-cover"
            loading="eager"
        />
    </figure>

    <div class="space-y-12">
        <div class="flex flex-wrap gap-8 text-small">
            {
                tags.map((tag) => (
                    <span class="rounded bg-primary px-12 py-4 font-extrabold">{tag}</span>
                ))
            }
        </div>

        <div class="text-small">Published <time datetime="2023-12-23">{date}</time></div>

        <h1
            class="text-heading leading-standard transition-colors duration-500 group-hover:text-primary group-focus-visible:text-primary"
        >
            {title}
        </h1>
        <p class="text-neutral-500">{body}</p>
    </div>

    <div class="flex items-center gap-12 text-base-fixed font-extrabold">
        <Image
            src={user.avatar}
            alt={user.name}
            width={32}
            height={32}
            class="size-32 rounded-round"
            loading="eager"
        />
        <span>{user.name}</span>
    </div>
</a>
<style>
    @property --s {
        syntax: '<number>';
        inherits: false;
        initial-value: 0;
    }
    .card {
        --s: 0.5;

        max-inline-size: 24rem;
        text-decoration: none;
        color: currentColor;
        box-shadow: calc(var(--s) * 1rem) calc(var(--s) * 1rem) 0 0 var(--color-neutral-900);
        transition: --s var(--transition-bounce);

        &:is(:focus-visible) {
            --s: 1;
        }

        @media (--is-mouse) {
            &:is(:hover) {
                --s: 1;
            }
        }
    }
</style>
